[submodule "kubectl utility commands"]
	path = scripts/kubernetes/utility
	url = git@gist.github.com:4ea9f95c89f15e0f79cd9b2d62ae47cb.git
[submodule "PerfKit Benchmarker"]
	path = pkb
	url = git@github.com:marcomicera/PerfKitBenchmarker.git
[submodule "kubeconfig creator"]
	path = scripts/kubernetes/auth
	url = git@gist.github.com:ba340e9478e1c0c716313971cc3e2e95.git
